body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}
.navbar-brand {
  font-family: "Special Elite", cursive;
}
.navbar-collapse {
  background: show;
}
.section-header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
.title {
  text-align: center;
  color: white;
}
.title > h2 {
  color: black;
}
.title > h1 {
  margin: 0;
  text-transform: uppercase;
}
.title > h2 {
  margin: 0;
}
.section-image {
  min-height: 250px;
  max-height: 50vh;
  max-width: 100vw;
  object-fit: cover;
}
.section-image-wrapper {
  position: relative;
}
.section-title {
  position: absolute;
  bottom: -1.5rem;
  right: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
}
.back-button {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.back-button > img {
  width: 3rem;
  object-fit: contain;
}
@media screen and (max-width: 920px) {
  div.section-detail {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 921px ){
  div.section-detail {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
.footer-email {
  margin-bottom: 2rem;
  margin-right: 2rem;
  text-align: right;
  color: #c5c5c5;
  font-size: 1.2rem;
  font-family: "Special Elite", cursive;
}
.primary-text-color {
  color: #00b8d4;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:#f5f5f5;
}

.title-reminder {
  font-size: 1.5rem;
  font-family: "Special Elite", cursive;
}

