{% extends 'base.html' %}
{% load static %}
{% block additionalHeaders %}
  <style>
    .section-header {
      background-color: #e5ada0;
    }
    .about-detail > h3 {
      font-style: italic;
    }
    .about-detail > h1 {
      margin: 2rem 0;
      font-style: italic;
      font-size: 2.5rem;
      font-weight: bold;
    }
    .about-detail > p {
      line-height: 1.5;
      font-size: 1.2rem;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="section-header">
    <div class="title">
      <h1>Eugene Brigita Lauw</h1>
      <h2>Computer Science Student</h2>
    </div>
    <div class="section-image-wrapper">
      <img
        src="https://media.gettyimages.com/photos/beautiful-woman-with-natural-makeup-picture-id897056188?s=2048x2048"
        alt="about-img"
        class="section-image"
      />
      <div class="section-title">About</div>
    </div>
  </div>
  <div class="section-detail">
    <div class="about-detail">
      <h3>Hello, glad you are here!</h3>
      <h1>My name is Eugene Brigita</h1>
      <p>
        I am a sophomore at Universitas Indonesia, pursuing my study in the
        field of <span class="primary-text-color">Computer Science.</span
        ><br />
        I am interested to exploring and enriching my experiences in the field
        of <span class="primary-text-color">design</span> and
        <span class="primary-text-color">programming.</span><br />
        Check out my Resume
        <a
          href="https://drive.google.com/file/d/1Ulxt_kqrJW75byVrauUNON9mOWibmBO5/view"
          class="primary-text-color"
          >here!</a
        ><br />
        Any collaborations? <b>leugenebrigita@gmail.com</b>
      </p>
    </div>
  </div>
{% endblock %}
