{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <meta charset="UTF-8">
    <title>Eugene Brigita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://necolas.github.io/normalize.css/latest/normalize.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap"
          rel="stylesheet"
    />
    <link href="{% static 'detail.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block additionalHeaders %}
    {% endblock %}
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home' %}">eugene.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'experiences' %}">Experiences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blogs' %}">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'form' %}">Add Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'show' %}" tabindex="-1" aria-disabled="true">Agenda</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}
<div class="footer-email">leugenebrigita@gmail.com</div>
</body>
</html>