{% extends 'base.html' %}
{% load static %}
{% block additionalHeaders %}
<style>
  .section-header {
    background-color: #4ea4b9;
  }

  .card {
    padding: 0px;
    border: none;
  }

  .card-img-top {
    height: 35%;
    object-fit: cover;
  }

  .card-subtitle {
    margin-bottom: 0.5rem;
  }

  .see-more {
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block content %}
<div class="section-header">
  <div class="title">
    <h1>Eugene Brigita Lauw</h1>
    <h2>Computer Science Student</h2>
  </div>
  <div class="section-image-wrapper">
    <img src="https://media.gettyimages.com/photos/tender-portrait-of-a-beautiful-girl-picture-id943018292?s=2048x2048"
      alt="experience-img" class="section-image" />
    <div class="section-title">Blogs</div>
  </div>
</div>
<div class="section-detail">
  <div class="row">
    <div class="card col-sm-5" style="width: 18rem;">
      <img class="card-img-top" src="https://miro.medium.com/max/1489/1*npu8VAWQAb7LqwokazLv3g.jpeg"
        alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Getting Started with Web Design and Programming Course</h5>
        <p class="card-text">
          I am Eugene Brigita, and currently work with my two classmates (Kamila Kaffah and Riri Edwina) ...
        </p>
        <h6 class="card-subtitle primary-text-color">16 May 2019</h6>
        <a href="https://medium.com/@leugenebrigita/getting-started-with-web-design-and-programming-course-96ce1f678955"
          class="card-link">
          Read
        </a>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="card col-sm-5" style="width: 18rem;">
      <img class="card-img-top" src="https://miro.medium.com/max/4560/0*KYp7gHZxXeziePdq" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Foundation of Programming 2: JAVA Basic Programming</h5>
        <p class="card-text">
          Web Programming refers to the writing, markup, and coding involved in web development. Website ...
        </p>
        <h6 class="card-subtitle primary-text-color">10 September 2019</h6>
        <a href="https://medium.com/@leugenebrigita/foundation-of-programming-2-java-basic-programming-30100d34cf9b"
          class="card-link">
          Read
        </a>
      </div>
    </div>
  </div>
  <a href="https://medium.com/@leugenebrigita" class="see-more primary-text-color">
    see more
  </a>
</div>
{% endblock %}