{% extends 'base.html' %} {% load static %} {% block additionalHeaders %}
<style>
  .section-header {
    background-color: #b52f3a;
  }

  .contact-container {
    text-align: left;
  }

  .btn-danger {
    background-color: #b52f3a;
  }

  .social-media-icon-wrapper {
    justify-content: center;
    display: flex;
  }

  .social-media-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
</style>
{% endblock %} {% block content %}
<div class="section-header">
  <div class="title">
    <h1>Eugene Brigita Lauw</h1>
    <h2>Computer Science Student</h2>
  </div>
  <div class="section-image-wrapper">
    <img
      src="https://media.gettyimages.com/photos/blond-woman-with-perfect-skin-picture-id886494622?s=2048x2048"
      alt="contact-img"
      class="section-image"
    />
    <div class="section-title">Contact</div>
  </div>
</div>
<div class="section-detail">
  <div class="contact-container">
    <h3><b>Contact me :)</b></h3>
    <p>
      If you wanna get in touch, talk to me about a project collaboration, or
      just say hi. <br />
      fill up this awesome form below or send an email to
      leugenebrigita@gmail.com and ~let's talk.
    </p>
    <form>
      <input
        class="form-control"
        type="text"
        id="name"
        placeholder="fill with your name"
        name="name"
        required
        size="65%"
      />
      <br />
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="fill with your email"
        name="email"
        required
        size="65%"
      />
      <br />
      <input
        class="form-control"
        type="text"
        id="message"
        placeholder="fill with your message"
        name="message"
        required
        size="65%"
      />
      <br />
      <button type="submit" class="btn btn-danger">Send!</button>
    </form>
    <br />
    <h4><b>Let's get in touch!</b></h4>
  </div>
  <div>
    <div class="social-media-icon-wrapper">
      <a href="https://www.facebook.com/yinyinbrigitta.lauw">
        <img
          src="https://cdn2.iconfinder.com/data/icons/flat-social-media-icons-1/512/facebook.png"
          alt="facebook"
          class="social-media-icon"
        />
      </a>
      <a href="https://www.linkedin.com/in/eugene-brigita/">
        <img
          src="https://cdn2.iconfinder.com/data/icons/flat-social-media-icons-1/512/linkedin.png"
          alt="linkedin"
          class="social-media-icon"
        />
      </a>
      <a href="https://twitter.com/eugenebrigita">
        <img
          src="https://cdn2.iconfinder.com/data/icons/flat-social-media-icons-1/2500/twitter.png"
          alt="twitter"
          class="social-media-icon"
        />
      </a>
      <a href="https://www.instagram.com/eugenebrigita/">
        <img
          src="https://cdn2.iconfinder.com/data/icons/flat-social-media-icons-1/512/instagram.png"
          alt="instagram"
          class="social-media-icon"
        />
      </a>
      <a href="https://id.pinterest.com/leugenebrigita/">
        <img
          src="https://cdn2.iconfinder.com/data/icons/flat-social-media-icons-1/2500/pinterest.png"
          alt="pinterest"
          class="social-media-icon"
        />
      </a>
      <a href="https://medium.com/@leugenebrigita">
        <img
          src="https://icon-library.net/images/medium-icon/medium-icon-21.jpg"
          alt="medium"
          class="social-media-icon"
        />
      </a>
    </div>
  </div>
</div>
{% endblock %}
