{% extends 'base.html' %} {% load static %} {% block additionalHeaders %}
<style>
  .section-header {
    background-color: #ecba30;
  }
  .timeline {
    border-left: 4px solid#ECBA30;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: fade(black, 80%);
    /* margin: @spacing auto;   */
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1rem;
    padding: 0 5px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 40%;
    margin-top: 4rem;
  }
  @media screen and (max-width: 576px) {
    .timeline {
      font-size: 0.9rem;
      line-height: 1.25rem;
      max-width: 80%;
    }
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 1rem;
    }
  }
  .event > h2,
  h3 {
    letter-spacing: 1.5px;
    font-size: 1.2rem;
  }

  .event > h4 {
    font-weight: normal;
  }

  .event {
    margin-left: 2rem;
    padding-bottom: 5rem;
    margin-bottom: 5px;
    position: relative;
  }

  .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  .event:before,
  .event:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .event:before {
    left: -5px;
    color: black;
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
  }

  .event:after {
    box-shadow: 0 0 0 4px black;
    background: black;
    left: -45px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
</style>
{% endblock %}
{% block content %}
<div class="section-header">
  <div class="title">
    <h1>Eugene Brigita Lauw</h1>
    <h2>Computer Science Student</h2>
  </div>
  <div class="section-image-wrapper">
    <img
      src="https://media.gettyimages.com/photos/happiness-picture-id882495390?s=2048x2048"
      alt="experience-img"
      class="section-image"
    />
    <div class="section-title">Experience</div>
  </div>
</div>
<div class="section-detail">
  <ul class="timeline">
    <li class="event">
      <h3>February - Present</h3>
      <h3>COMPFEST 11</h3>
      <h4>Staff of Sponsorship</h4>
    </li>
    <li class="event">
      <h3>January - August 2019</h3>
      <h3>AIESEC in Universitas Indonesia</h3>
      <h4>
        Team Leader of Project Management in Incoming Global Volunteer
      </h4>
    </li>
    <li class="event">
      <h3>January - August 2019</h3>
      <h3>AIESEC in Universitas Indonesia</h3>
      <h4>
        Team Leader of Project Management in Incoming Global Volunteer
      </h4>
    </li>
  </ul>
</div>
{% endblock %}
