{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class= section-detail>
    {% with url_name=request.resolver_match.url_name %}
    {% if url_name == 'form' %}
        <h2 class="title-reminder">to remind <span class="primary-text-color">Eugene</span>!</h2>
    {% else %}
        <h1>Are you sure you want to delete this activity?</h1>
    {% endif %}
    {% endwith %}

    <form action="{% url 'form' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                {{ form.as_table }}
            </tr>
        </table>
        {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'remove_activity' %}
            <a href="{% url 'show' %}"><button class="btn btn-danger" type="submit">Delete</button></a>
        {% else %}
            <br/>
            <button type="submit" class="btn btn-success" style="align-self: center">Add</button>
        {% endif %}
    </form>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
</div>
{% endblock %}