{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-detail">
        <h2 class="title-reminder">Eugene's Activities~</h2>
        <table style="width: 80%">
            <tr>
                <th>Name<th>
                <th>Date<th>
                <th>Time<th>
                <th>Event<th>
                <th>Note<th>
                <th>Edit</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ i.name }}</td>
                <td></td>
                <td>{{ i.date }}</td>
                <td></td>
                <td>{{ i.time }}</td>
                <td></td>
                <td>{{ i.event }}</td>
                <td></td>
                <td>{{ i.note }}</td>
                <td></td>
                <td>
                    <a href="{% url 'remove_activity' pk=i.pk %}">
                        <button class="btn btn-danger"> Delete </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}