{% load static %}
<html>
  <head>
    <title>Eugene Brigita</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://necolas.github.io/normalize.css/latest/normalize.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <style>
      body,
      .homepage {
        margin: 0px;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100vh;
        min-width: 100vw;
        max-width: 100%;
        overflow-x: hidden;
        font-family: "Raleway", sans-serif;
        position: relative;
        display: flex;
      }
      .homepage {
        animation: fade 2s;
      }
      @keyframes fade {
        from {
          visibility: hidden;
          opacity: 0;
        }
        to {
          visibility: visible;
          opacity: 1;
        }
      }
      @media screen and (max-width: 576px) {
        html {
          font-size: 10px;
        }
      }
      .title {
        text-align: center;
        color: #00b8d4;
      }
      .title > h1 {
        margin: 0;
        text-transform: uppercase;
      }
      .title > h2 {
        margin: 0;
        color: black;
      }
      #menus {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        justify-self: center;
      }
      .menu {
        color: black;
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
        font-family: "Lato", Arial, Helvetica, sans-serif;
      }
      .menu-active:hover {
        transform: scale(1.25);
      }
      .menu-image {
        width: 100%;
        min-height: 15rem;
        object-fit: cover;
      }
      .menu-title {
        position: absolute;
        bottom: -1rem;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #00b8d4;
        letter-spacing: 3px;
      }
      .menu-active > .menu-title {
        right: 1rem;
      }
      .menu-left {
        transform: translateX(-50%);
      }
      .menu-left:hover {
        transform: translateX(-50%) scale(1.1);
      }
      .menu-right {
        transform: translateX(+50%);
      }
      .menu-right:hover {
        transform: translateX(+50%) scale(1.1);
      }
      .menu-inactive > .menu-image {
        width: 75%;
        object-fit: contain;
        filter: grayscale(100%);
      }
      .menu-inactive > .menu-title {
        font-size: 2rem;
        bottom: -5%;
      }
      .menu-left > .menu-title {
        left: auto;
        right: 20%;
      }
      .menu-right > .menu-title {
        left: 20%;
        right: auto;
      }
      footer {
        color: #c5c5c5;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: right;
        margin-right: 3rem;
      }
    </style>
  </head>
  <body>
    <div class="homepage">
      <div class="title">
        <h1>Eugene Brigita Lauw</h1>
        <h2>Computer Science Student</h2>
      </div>
      <div id="menus"></div>
      <footer>leugenebrigita@gmail.com</footer>
    </div>
    <script>
      function NewMenu({ title, image, url }, isActive = false) {
        var menu = document.createElement(isActive ? "a" : "div");
        menu.href = url;
        menu.className = "menu";
        var menuImage = document.createElement("img");
        menuImage.src = image;
        menuImage.className = "menu-image";
        var menuTitle = document.createElement("div");
        menuTitle.className = "menu-title";
        menuTitle.textContent = title;
        menu.append(menuImage, menuTitle);
        return menu;
      }
      let sections = [
        {
          title: "About",
          image:
            "https://images.unsplash.com/photo-1569409462607-c635a21c6cee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80",
          url: "/about"
        },
        {
          title: "Experiences",
          image:
            "https://media.gettyimages.com/photos/happiness-picture-id882495390?s=2048x2048",
          url: "/experience"
        },
        {
          title: "Blogs",
          image:
            "https://media.gettyimages.com/photos/tender-portrait-of-a-beautiful-girl-picture-id943018292?s=2048x2048",
          url: "/blog"
        },
        {
          title: "Contact",
          image:
            "https://media.gettyimages.com/photos/blond-woman-with-perfect-skin-picture-id886494622?s=2048x2048",
          url: "/contact"
        }
      ];
      let n = sections.length;
      let i = 0;
      function update(menus) {
        for (let it = 0; it <= 2; it++) {
          let section = sections[(i + it - 1 + n) % n];
          menus[it].childNodes[0].src = section.image;
          menus[it].childNodes[1].textContent = section.title;
          if (it === 1) {
            menus[it].href = section.url;
          }
        }
      }
      var menus = [
        NewMenu(sections[(i - 1 + n) % n]),
        NewMenu(sections[i], true),
        NewMenu(sections[(i + 1) % n])
      ];
      menus[0].className += " menu-left menu-inactive";
      menus[0].onclick = function() {
        i = (i - 1 + n) % n;
        update(menus);
      };
      menus[1].className += " menu-active";
      menus[2].className += " menu-right menu-inactive";
      menus[2].onclick = function() {
        i = (i + 1) % n;
        update(menus);
      };
      document.getElementById("menus").append(...menus);
    </script>
  </body>
</html>
