{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block additionalHeaders %}
<script>
  setTimeout(() => (window.location.href = "/home"), 4500);
</script>
<style>
  body,
  .homepage {
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    position: relative;
    display: flex;
  }
  .fixed-top {
    position: relative;
    display: flex;
  }
  nav, .footer-email {
    visibility: hidden;
  }
  .homepage {
    animation: fade 9s;
  }
  @keyframes fade {
    from {
      visibility: hidden;
      opacity: 0;
    }
    50% {
      visibility: hidden;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (max-width: 576px) {
    html {
      font-size: 10px;
    }
  }
  .intro {
    color: #00b8d4;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 3rem;
    width: 9.5em;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 3rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    visibility: visible;
    text-align: center;
  }
  .anim-typewriter {
    animation: typewriter 3.5s steps(20) 1s 1 normal both,
      blinkTextCursor 500ms steps(20) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    50% {
      width: 9.5em;
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  @keyframes blinkTextCursor {
    from,
    to {
      border-right-color: black;
    }
    50% {
      border-right-color: transparent;
    }
  }
</style>
{% endblock %}
{% block content %}
<div>
<h1 class="intro anim-typewriter">Eugene Brigita</h1>
</div>
{% endblock %}
