<html>
<head>
    <title>Story 1: Eugene Brigita</title>
    {% load static %}
    <link href="{% static 'index.css' %}" rel="stylesheet">
</head>
<body>
    {% load static %}
    <img src="{% static 'eugene.png' %}"/>
    <h1>Eugene Brigita Lauw</h1>
    <h2>1806141183</h2>
    <h2>Class of 2018</h2>
    <h2>Universitas Indonesia</h2>
    <h3>Hobi</h3>
    <ul>
        <li>Travelling</li>
        <li>Sleep</li> 
    </ul>
    <p>Saya adalah orang yang suka mengeksplor hal hal baru,
        tetapi kadang terlalu banyak mengeksplor membuat saya merasa bosan dengan hal yang saya jalani.
        Saya harus belajar untuk menjaga komitmen saya pada hal spesifik tertentu,
        sehingga suatu hari saya bisa menjadi expert di bidang tersebut :") <p>
</body>
</html>